#Editor config file
#Author: Adam Freiberg, xfreib00@stud.fit.vutbr.cz

#Config file is root
root = true

#Top level config
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

#C++ files
[*.{cpp, cc, h, hpp}]
indent_style = space
indent_size = 4

#Makefile
[Makefile]
indent_style = tab